Repository sigopt/sigoptlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, apply-copyright-notice

.pre-commit-config.yaml:

ci:
  skip: [detect-aws-credentials, pylint]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=100]
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/black.git
    rev: sigopt-22.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: env PYTHONPATH=./test pylint
        language: system
        types: [python]
        args: ["-rn", "-sn"]
      - id: apply-copyright-notice
        name: Apply the copywright notice
        description: This hook applies the copyright notice and license disclaimer to all files.
        entry: tools/check_copyright_and_license_disclaimers.py --fix-in-place
        language: python
        types_or:
          - markdown
          - python

contributing and readme
  CONTRIBUTING.md
  README.md
Due: apply-copyright-notice

code copy and tests
  requirements-dev.txt
  requirements.txt
  sigoptlite/__init__.py
  sigoptlite/best_assignments.py
  sigoptlite/broker.py
  sigoptlite/builders.py
  sigoptlite/driver.py
  sigoptlite/models.py
  sigoptlite/sources.py
  test/__init__.py
  test/base_test.py
  test/constants.py
  test/endpoints/__init__.py
  test/endpoints/test_best_assignments.py
  test/endpoints/test_experiment.py
  test/endpoints/test_observation.py
  test/endpoints/test_suggestion.py
  test/features/__init__.py
  test/features/test_conditionals.py
  test/features/test_constraints.py
  test/features/test_multiple_metrics.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/features/test_priors.py
  test/features/test_search.py
  test/test_adapter.py
  test/test_broker.py
  test/test_builders.py
  test/test_compute_mode.py
  test/test_driver.py
  test/test_models.py
  test/test_sources.py
Due: pylint, apply-copyright-notice

circleci config and pytest.ini
  .circleci/config.yml
  pytest.ini
Due: none

fix circleci job
  .circleci/config.yml
Due: none

validate circleci config
  .pre-commit-config.yaml
Due: none

need requirements.txt
  setup.cfg
Due: none

copy pylintrc
  .pylintrc
Due: none

isort
  .pre-commit-config.yaml
  pyproject.toml
Due: none

apply isort
  pyproject.toml
  sigoptlite/best_assignments.py
  sigoptlite/broker.py
  sigoptlite/builders.py
  sigoptlite/sources.py
  test/base_test.py
  test/endpoints/test_best_assignments.py
  test/endpoints/test_experiment.py
  test/endpoints/test_observation.py
  test/endpoints/test_suggestion.py
  test/features/test_conditionals.py
  test/features/test_constraints.py
  test/features/test_multiple_metrics.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/features/test_priors.py
  test/features/test_search.py
  test/test_adapter.py
  test/test_broker.py
  test/test_builders.py
  test/test_compute_mode.py
  test/test_driver.py
  test/test_models.py
  test/test_sources.py
Due: pylint, apply-copyright-notice

remove zigopt.common
  pyproject.toml
Due: none

isort (#4)
  .pre-commit-config.yaml
  pyproject.toml
  sigoptlite/best_assignments.py
  sigoptlite/broker.py
  sigoptlite/builders.py
  sigoptlite/sources.py
  test/base_test.py
  test/endpoints/test_best_assignments.py
  test/endpoints/test_experiment.py
  test/endpoints/test_observation.py
  test/endpoints/test_suggestion.py
  test/features/test_conditionals.py
  test/features/test_constraints.py
  test/features/test_multiple_metrics.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/features/test_priors.py
  test/features/test_search.py
  test/test_adapter.py
  test/test_broker.py
  test/test_builders.py
  test/test_compute_mode.py
  test/test_driver.py
  test/test_models.py
  test/test_sources.py
Due: pylint, apply-copyright-notice

fix typo
  .pre-commit-config.yaml
Due: none

fix typo in readme
  README.md
Due: apply-copyright-notice

Fix typo in pre-commit config (#5)
  .pre-commit-config.yaml
Due: none

remove circleci-config-validate requires circleci command
  .pre-commit-config.yaml
Due: none

typo
  README.md
Due: apply-copyright-notice

Remove circleci-config-validate which requires circleci command (#7)
  .pre-commit-config.yaml
Due: none

Move to random search next points
  sigoptlite/sources.py
  test/test_compute_mode.py
  test/test_sources.py
Due: pylint, apply-copyright-notice

Fix typo in readme (#6)
  README.md
Due: apply-copyright-notice

Fix typo in README (#8)
  README.md
Due: apply-copyright-notice

change interface
  sigoptlite/sources.py
Due: pylint, apply-copyright-notice

req for test
  requirements.txt
Due: none

import
  sigoptlite/sources.py
Due: pylint, apply-copyright-notice

reqs from libsigopt main
  requirements.txt
Due: none

Use `RandomSearchNextPoints` from libsigopt (#9)
  requirements.txt
  sigoptlite/sources.py
  test/test_compute_mode.py
  test/test_sources.py
Due: pylint, apply-copyright-notice

typo
  sigoptlite/builders.py
  test/features/test_multitask.py
Due: pylint, apply-copyright-notice

Error typo (#10)
  sigoptlite/builders.py
  test/features/test_multitask.py
Due: pylint, apply-copyright-notice

use sigopt-tools pre commit hooks
  .pre-commit-config.yaml
Due: none

Use sigopt-tools pre commit hooks (#12)
  .pre-commit-config.yaml
Due: none

rm tools
  tools/check_copyright_and_license_disclaimers.py
Due: pylint, apply-copyright-notice

rm tools (#13)
  tools/check_copyright_and_license_disclaimers.py
Due: pylint, apply-copyright-notice

new sigopt tools
  .pre-commit-config.yaml
Due: none

no importing libsigopt.compute
  .pre-commit-config.yaml
Due: none

New sigopt tools (#14)
  .pre-commit-config.yaml
Due: none

partial separation of validators and builders
  sigoptlite/builders.py
  sigoptlite/validators.py
Due: pylint, apply-copyright-notice

Complete isolation of validation code
  sigoptlite/builders.py
  sigoptlite/validators.py
  test/endpoints/test_experiment.py
  test/features/test_constraints.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/test_models.py
Due: pylint, apply-copyright-notice

Run black
  requirements.txt
  sigoptlite/builders.py
  sigoptlite/validators.py
  test/endpoints/test_experiment.py
  test/features/test_constraints.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/test_models.py
Due: pylint, apply-copyright-notice

Downmerge
  test/features/test_multitask.py
Due: pylint, apply-copyright-notice

partial separation of validators and builders
  sigoptlite/validators.py
Due: pylint, apply-copyright-notice

Run black
  sigoptlite/builders.py
  sigoptlite/validators.py
  test/endpoints/test_experiment.py
  test/features/test_constraints.py
  test/features/test_multisolution.py
  test/features/test_multitask.py
  test/test_models.py
Due: pylint, apply-copyright-notice
